$background : #252a38;
$darkerBackground : #151820;
$foreground :  #dcdcdc;
$primary : #2985ff;
$overlayColour: #252a388f;

/* Font sizes */
$mobile-subtitle-font-size: 20px;
$mobile-subtitle-line-height: 24px;